{% extends "page/layout.html.twig" %}
{% block head %}
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora.css">
		<link rel="stylesheet" href="{{ asset("estilosproDetalle.css", "estilos") }}">
		<link rel="stylesheet" href="{{ asset("bootstrap.min.css", "estilos") }}">


    <!-- Important Owl stylesheet -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&amp;display=swap">
		<link rel="stylesheet" href="{{ asset("all.min.css", "estilos") }}">
	<link rel="stylesheet" href="{{ asset("owl.carousel.min.css", "estilos") }}">
	<link rel="stylesheet" href="{{ asset("owl.theme.default.min.css", "estilos") }}">
            	<script src="{{ asset("owl.carousel.min.js", "script") }}"></script>
				
                     	<script src="{{ asset("main.js", "script") }}"></script>
				  <script src="{{ asset("detalle.js", "script") }}"></script>
{% endblock %}
{% block contenido %}
<main>
	
	<div class="pd-wrap">
		<div class="container" style="margin-top: -91px;">
	        <div class="heading-section">
	            <h2>Product Details</h2>
	        </div>
			
	<!-- Inicio de for que saca los datos de la base de datos -->
		{% for productos in producto %}
		<!-- La variable imagen separa los datos que recibe de la base de datos en un array -->
					{% set imagen = productos.imagen|split('|') %}
		<!-- For rutaImg saca el primer dato del array que debe ser siempre la ruta de la imagen -->
					{% set ruta = "" %}
					{% for rutaImg in imagen|slice(0, 1) %}
						{% set ruta = rutaImg %}
					{% endfor %}
    					
	        <div class="row">
	        	<div class="col-md-6">
					<div id="slider" class="owl-carousel product-slider">
					<!-- For para añadir la imagen en grande del producto -->
						<!-- slice(1) para que empiece por la imagen y no por la ruta -->
					    {% for imagen in imagen|slice(1) %}
        				<div class="item">
						  	<img src="{{ruta}}{{imagen}}" />
						</div>
    					{% endfor %}

					</div>
					<div id="thumb" class="owl-carousel product-thumb">

					<!-- For para añadir la imagen en el slider -->
						<!-- slice(1) para que empiece por la imagen y no por la ruta -->
						   {% for imagen in imagen|slice(1) %}
        				<div class="item">
						  	<img src="{{ruta}}{{imagen}}" />
						</div>
    					{% endfor %}

					</div>	  
				  
	        	</div>
	        	<div class="col-md-6">
	        		<div class="product-dtl">
        				<div class="product-info">
												
		        			<div class="product-name" id="nameprod">{{productos.nombre}}</div>
		        			<div class="reviews-counter">
								<div class="rate">
								    <input type="radio" id="star5" name="rate" value="5" disabled {% if puntuacion1 == "5" %} checked {% endif %}/>
								    <label for="star5" title="text">5 stars</label>
								    <input type="radio" id="star4" name="rate" value="4" disabled {% if puntuacion1 == "4" %} checked {% endif %}/>
								    <label for="star4" title="text">4 stars</label>
								    <input type="radio" id="star3" name="rate" value="3" disabled {% if puntuacion1 == "3" %} checked {% endif %}/>
								    <label for="star3" title="text">3 stars</label>
								    <input type="radio" id="star2" name="rate" value="2" disabled {% if puntuacion1 == "2" %} checked {% endif %}/>
								    <label for="star2" title="text">2 stars</label>
								    <input type="radio" id="star1" name="rate" value="1" disabled{% if puntuacion1 == "1" %} checked {% endif %}/>
								    <label for="star1" title="text">1 star</label>
								  </div>
								<span>3 Reviews</span>
							</div>
		        			<div class="product-price"><span id="product-price-detalle">{{productos.precio}} €</span></div>
							{# <span class="line-through">$29.00</span> #}
		        		</div>
	        			<p>{{productos.descripcion}}</p>
	        			<div class="row">
	        				{# <div class="col-md-6">
	        					<label for="size">Size</label>
								<select id="size" name="size" class="form-control">
									<option>S</option>
									<option>M</option>
									<option>L</option>
									<option>XL</option>
								</select>
	        				</div>
	        				<div class="col-md-6">
	        					<label for="color">Color</label>
								<select id="color" name="color" class="form-control">
									<option>Blue</option>
									<option>Green</option>
									<option>Red</option>
								</select>
	        				</div> #}
	        			</div>
							
	        			<div class="product-count">
	        				<label for="size">Quantity</label>
	        				{# <form action="#" class="display-flex"> #}
							{% if user %}
							{{form_start(form1, {'attr':{'class':"display-flex", "action":""}})}}
							    <div class="qtyminus">-</div>
								{{form_widget(form1.cantidad, {'attr':{'class':'qty', "name":"quantity", "type":"text", "value":"1", "style":"height: 34px;"}})}}
							    <div class="qtyplus">+</div><br>
								 {{form_widget(form1.send, {'attr':{'class':'round-black-btn', 'placeholder':'Enviar Comentario',  'type':'submit', "style":"margin-top: 49px;
margin-left: -129px;"}})}}
							{{form_end(form1)}} 

							{% else %}
							<div class="product-count">
	        				<form action="#" class="display-flex">
							    <div class="qtyminus">-</div>
							    <input type="text" name="quantity" value="1" class="qty">
							    <div class="qtyplus">+</div>
							</form>
							<a href="#" class="round-black-btn">Add to Cart</a>
	        			</div>

							{% endif %}
							{# </form> #}
							 {# <a href="#" class="round-black-btn" id="addcart">Add to Cart</a> #}
	        			</div>
	        		</div>

	        	</div>
	        </div>
	        <div class="product-info-tabs">
		        <ul class="nav nav-tabs" id="myTab" role="tablist">
				  	<li class="nav-item">
				    	<a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
				  	</li>
				  	<li class="nav-item">
				    	<a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" 
						{% set contadorComent = 0 %}
						{% for comentarios in Comentario %}
							{% set contadorComent = contadorComent + 1 %}
						{% endfor %}
				aria-controls="review" aria-selected="false">comentarios ({{contadorComent}})</a>
				  	</li>
				</ul>
				<div class="tab-content" id="myTabContent">
				  	<div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
				  		{{productos.descripcion}}
				  	</div>
			{% endfor %}
	<!-- fin de for que saca los datos de la base de datos -->

				  	<div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
				  		<div class="review-heading">COMENTARIOS</div>
						  <br>
						  {% if Comentario == "" %}
				  		<p class="mb-20">There are no reviews yet.</p>
						  {% else %}
						  	{% set contador = 0 %}
							{% set star = "star" %}
							{% for comentarios in Comentario %}
							<article style="background-color:white; height:120px; display:grid;height:auto; margin-botom:30px;margin-top: 25px;
							border-radius: 7px; margin-bottom: 34px;">
							<br>
							<br>
								<b><p style="margin-left:20px;margin-top: 10px;">{{comentarios.getIdUsuario().getnombre()}} {{comentarios.getIdUsuario().getapellido()}}</p></b>
								<p style="margin-left:40px;">{{comentarios.getComentario()}}
								{# {% set star = "star" %} #}
								<div class="rate" style="position:relative;">
								<span style="margin-left: 20px; margin-top:20px">{{comentarios.getFecha()|date('d-m-Y H:i')}}</span>
								    <input type="radio" id="star5{{contador}}" name="rate{{contador}}" value="5" disabled {% if comentarios.getPuntuacion() == "5" %} checked {% endif %}/>
								    <label for="star5{{contador}}" id="hoverlabeldisabled" title="text">5 stars</label>
								    <input type="radio" id="star4{{contador}}"  name="rate{{contador}}" value="4" disabled {% if comentarios.getPuntuacion() == "4" %} checked {% endif %}/>
								    <label for="star4{{contador}}" title="text" id="hoverlabeldisabled">4 stars</label>
								    <input type="radio" id= "star3{{contador}}" name="rate{{contador}}" value="3" disabled {% if comentarios.getPuntuacion() == "3" %} checked {% endif %}/>
								    <label for="star3{{contador}}" title="text" id="hoverlabeldisabled">3 stars</label>
								    <input type="radio" id="star2{{contador}}" name="rate{{contador}}" value="2" disabled {% if comentarios.getPuntuacion() == "2" %} checked {% endif %}/>
								    <label for="star2{{contador}}" title="text" id="hoverlabeldisabled">2 stars</label>
								    <input type="radio" id="star1{{contador}}" name="rate{{contador}}" value="1" disabled {% if comentarios.getPuntuacion() == "1" %} checked {% endif %}/>
								    <label for="star1{{contador}}" title="text" id="hoverlabeldisabled">1 star</label>
									
									{# {{comentarios.fecha|date("m/d/Y")}} #}
								</div>
								</p>
									
								
								<br>
							  </article>
						
					
						{% set contador =  contador + 1 %}
							{% endfor %}
							
						{% endif %}

				  		{# <form class="review-form"> #}
						  {% if user %}
						   {{form_start(form, {'attr':{'class':"review-form", "action":""}})}}
		        			<div class="form-group">
			        			<label>Your rating</label>
			        			<div class="reviews-counter">
									<div class="rate">
										{{form_widget(form.puntuacion, {'attr':{'class':"rate", 'id':'star', 'name':'star2', 'required':''}})}}
									</div>
								</div>
							</div>
		        			<div class="form-group">
			        			<label>Your message</label>
								{{form_widget(form.comentario, {'attr':{'class':"form-control", 'required':'', 'rows':'10'}})}}
			        			
			        		</div>
			        		{#  #}
							 {{form_widget(form.send, {'attr':{'class':'round-black-btn', 'placeholder':'Enviar Comentario',  'type':'submit'}})}}

							{{form_end(form)}}

							{% else %}
							<form class="review-form">
								<div class="form-group">
			        			<label>Your rating</label>
			        			<div class="reviews-counter">
									<div class="rate">
									    <input type="radio" id="star5" name="rate" value="5" />
									    <label for="star5" title="text">5 stars</label>
									    <input type="radio" id="star4" name="rate" value="4" />
									    <label for="star4" title="text">4 stars</label>
									    <input type="radio" id="star3" name="rate" value="3" />
									    <label for="star3" title="text">3 stars</label>
									    <input type="radio" id="star2" name="rate" value="2" />
									    <label for="star2" title="text">2 stars</label>
									    <input type="radio" id="star1" name="rate" value="1" />
									    <label for="star1" title="text">1 star</label>
									</div>
									
								</div>
							</div>
							<textarea class="form-control" rows="10"></textarea>
					        
							  <button class="round-black-btn">Submit Review</button>
			        	</form>
							{% endif %}



				  	</div>
				</div>
			</div>
		</div>
	</div>
<div style="text-align:center;font-size:14px;padding-bottom:20px;">Get free icon packs for your next project at <a href="http://iiicons.in/" target=
"_blank" style="color:#ff5e63;font-weight:bold;">www.iiicons.in</a></div>
  </main>


{% endblock %}