<!DOCTYPE html>

<title>Usuario index</title>

{% block body %}
    <h1>Usuario index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Fecha_Registro</th>
                <th>Telefono</th>
                <th>Provincia</th>
                <th>Direccion</th>
                <th>Contrasenya</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.fechaRegistro ? usuario.fechaRegistro|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ usuario.telefono }}</td>
                <td>{{ usuario.provincia }}</td>
                <td>{{ usuario.direccion }}</td>
                <td>{{ usuario.contrasenya }}</td>
                <td>
                    <a href="{{ path('usuario_show', {'id': usuario.id}) }}">show</a>
                    <a href="{{ path('usuario_edit', {'id': usuario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('usuario_new') }}">Create new</a>
{% endblock %}
