<!DOCTYPE html>

<title>Mensaje index</title>

{% block body %}
    <h1>Mensaje index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Mensaje</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mensaje in mensajes %}
            <tr>
                <td>{{ mensaje.id }}</td>
                <td>{{ mensaje.nombre }}</td>
                <td>{{ mensaje.apellido }}</td>
                <td>{{ mensaje.telefono }}</td>
                <td>{{ mensaje.email }}</td>
                <td>{{ mensaje.mensaje }}</td>
                <td>
                    <a href="{{ path('mensaje_show', {'id': mensaje.id}) }}">show</a>
                    <a href="{{ path('mensaje_edit', {'id': mensaje.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mensaje_new') }}">Create new</a>
{% endblock %}
