{% extends "adminPage/layout.html.twig" %}
{% block head %}
        
        {# <script>window.jQuery || document.write('<script src="../src/js/vendor/jquery-3.3.1.min.js"><\/script>')</script> #}
        <link rel="stylesheet" href="/plugins/chartist/dist/chartist.min.css">
        <link rel="stylesheet" href="/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/plugins/flot-charts/jquery.flot.js"></script>
        <script src="/plugins/flot-charts/curvedLines.js"></script>
        <script src="/plugins/chartist/dist/chartist.min.js"></script>
        <script src="/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script src="/js/js-admin/tables.js"></script>
        <script src="/js/js-admin/datatables.js"></script>
        <script src="/js/js-admin/widget-data.js"></script>
        <script src="/js/js-admin/widget-statistic.js"></script>
{% endblock %}
{% block contenido %}         
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="text-center"> 
                                            {% for productos in producto %}

                                            <!-- La variable imagen separa los datos que recibe de la base de datos en un array -->
					                            {% set imagen = productos.imagen|split('|') %}
		                                    <!-- For rutaImg saca el primer dato del array que debe ser siempre la ruta de la imagen -->
					                            {% set ruta = "" %}
					                            {% for rutaImg in imagen|slice(0, 1) %}
						                            {% set ruta = rutaImg %}
					                            {% endfor %}

                                                   {% for imagen in imagen|slice(1) %}
						  	                            <img src="{{ruta}}{{imagen}}" width="200"/>
    					                            {% endfor %}
                                            <h4 class="card-title mt-10">{{productos.nombre}}</h4>
                                            <div class="row text-center justify-content-md-center">
                                                <div class="col-4"><a href="javascript:void(0)" class="link"><i class="ik ik-user"></i> <font class="font-medium">254</font></a></div>
                                                <div class="col-4"><a href="javascript:void(0)" class="link"><i class="ik ik-image"></i> <font class="font-medium">54</font></a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="mb-0"> 
                                    <div class="card-body"> 
                                        <small class="text-muted d-block">Imagen</small>
                                        <h6>{{productos.imagen}}</h6> 
                                        <small class="text-muted d-block pt-10">Nombre</small>
                                        <h6>{{productos.nombre}}</h6> 
                                        <small class="text-muted d-block pt-10">Descripción</small>
                                        <h6>{{productos.descripcion}}</h6>
                                        <small class="text-muted d-block pt-10">Precio</small>
                                        <h6>{{productos.precio}}€</h6>
                                         <small class="text-muted d-block pt-10">Unidades en stock</small>
                                        <h6>{{productos.unidadesStock}}</h6>
                                         <small class="text-muted d-block pt-10">Categoría</small>
                                        <h6>{{productos.categoria}}</h6>
                                        <small class="text-muted d-block pt-10">Unidades vendidas</small>
                                        <h6>{{productos.unidadesVendidas}}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-7">
                                <div class="card">
                                    <ul class="nav nav-pills custom-pills" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="pills-timeline-tab" data-toggle="pill" href="#current-month" role="tab" aria-controls="pills-timeline" aria-selected="true">Comentarios</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-setting-tab" data-toggle="pill" href="#previous-month" role="tab" aria-controls="pills-setting" aria-selected="false">Editar Producto</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="current-month" role="tabpanel" aria-labelledby="pills-timeline-tab">
                                            <div class="card-body">
                                                <div class="profiletimeline mt-0">
                                                    <div class="sl-item">
                                                        <div class="sl-left"> <img src="../img/users/1.jpg" alt="user" class="rounded-circle" /> </div>
                                                        <div class="sl-right">
                                                            <div><a href="javascript:void(0)" class="link">John Doe</a> <span class="sl-date">5 minutes ago</span>
                                                                <p>assign a new task <a href="javascript:void(0)"> Design weblayout</a></p>
                                                                <div class="row">
                                                                    <div class="col-lg-3 col-md-6 mb-20"><img src="/img/conejos.jpg" class="img-fluid rounded" /></div>
                                                                    <div class="col-lg-3 col-md-6 mb-20"><img src="/img/conejos.jpg" class="img-fluid rounded" /></div>
                                                                    <div class="col-lg-3 col-md-6 mb-20"><img src="/img/conejos.jpg" class="img-fluid rounded" /></div>
                                                                    <div class="col-lg-3 col-md-6 mb-20"><img src="/img/conejos.jpg" class="img-fluid rounded" /></div>
                                                                </div>
                                                                <div class="like-comm"> 
                                                                    <a href="javascript:void(0)" class="link mr-10">2 comment</a> 
                                                                    <a href="javascript:void(0)" class="link mr-10"><i class="fa fa-heart text-danger"></i> 5 Love</a> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="sl-item">
                                                        <div class="sl-left"> <img src="../img/users/1.jpg" alt="user" class="rounded-circle" /> </div>
                                                        <div class="sl-right">
                                                            <div><a href="javascript:void(0)" class="link">John Doe</a> <span class="sl-date">5 minutes ago</span>
                                                                <p>assign a new task <a href="javascript:void(0)"> Design weblayout</a></p>
                                                                <div class="row">
                                                                    <div class="col-lg-3 col-md-6 mb-20"><img src="/img/conejos.jpg" class="img-fluid rounded" /></div>
                                                                    <div class="col-lg-3 col-md-6 mb-20"><img src="/img/conejos.jpg" class="img-fluid rounded" /></div>
                                                                    <div class="col-lg-3 col-md-6 mb-20"><img src="/img/conejos.jpg" class="img-fluid rounded" /></div>
                                                                    <div class="col-lg-3 col-md-6 mb-20"><img src="/img/conejos.jpg"class="img-fluid rounded" /></div>
                                                                </div>
                                                                <div class="like-comm"> 
                                                                    <a href="javascript:void(0)" class="link mr-10">2 comment</a> 
                                                                    <a href="javascript:void(0)" class="link mr-10"><i class="fa fa-heart text-danger"></i> 5 Love</a> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="sl-item">
                                                        <div class="sl-left"> <img src="../img/users/1.jpg" alt="user" class="rounded-circle" /> </div>
                                                        <div class="sl-right">
                                                            <div><a href="javascript:void(0)" class="link">John Doe</a> <span class="sl-date">5 minutes ago</span>
                                                                <p>assign a new task <a href="javascript:void(0)"> Design weblayout</a></p>
                                                                <div class="row">
                                                                    <div class="col-lg-3 col-md-6 mb-20"><img src="/img/conejos.jpg" class="img-fluid rounded" /></div>
                                                                    <div class="col-lg-3 col-md-6 mb-20"><img src="/img/conejos.jpg" class="img-fluid rounded" /></div>
                                                                    <div class="col-lg-3 col-md-6 mb-20"><img src="/img/conejos.jpg" class="img-fluid rounded" /></div>
                                                                    <div class="col-lg-3 col-md-6 mb-20"><img src="/img/conejos.jpg" class="img-fluid rounded" /></div>
                                                                </div>
                                                                <div class="like-comm"> 
                                                                    <a href="javascript:void(0)" class="link mr-10">2 comment</a> 
                                                                    <a href="javascript:void(0)" class="link mr-10"><i class="fa fa-heart text-danger"></i> 5 Love</a> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="sl-item">
                                                        <div class="sl-left"> <img src="../img/users/1.jpg" alt="user" class="rounded-circle" /> </div>
                                                        <div class="sl-right">
                                                            <div><a href="javascript:void(0)" class="link">John Doe</a> <span class="sl-date">5 minutes ago</span>
                                                                <p>assign a new task <a href="javascript:void(0)"> Design weblayout</a></p>
                                                                <div class="row">
                                                                    <div class="col-lg-3 col-md-6 mb-20"><img src="/img/conejos.jpg" class="img-fluid rounded" /></div>
                                                                    <div class="col-lg-3 col-md-6 mb-20"><img src="/img/conejos.jpg" class="img-fluid rounded" /></div>
                                                                    <div class="col-lg-3 col-md-6 mb-20"><img src="/img/conejos.jpg" class="img-fluid rounded" /></div>

                                                                    <div class="col-lg-3 col-md-6 mb-20"><p>Ver más</p></div>                                                                    
                                                                </div>
                                                                <div class="like-comm"> 
                                                                    <a href="javascript:void(0)" class="link mr-10">2 comment</a> 
                                                                    <a href="javascript:void(0)" class="link mr-10"><i class="fa fa-heart text-danger"></i> 5 Love</a> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="previous-month" role="tabpanel" aria-labelledby="pills-setting-tab">
                                            <div class="card-body">
                                            
                                            
                                                {{form_start(form, {'attr':{'class':"form-horizontal", 'action':'', "id":"subirForm", "autocomplete":"on"}})}}
                                                {# <form class="form-horizontal"> #}
                                                    <div class="form-group">
          {# <input id="lastName" class="form-element" name="family-name" type="text" autocomplete="family-name" placeholder="Jingleheimer Schmidt?" tabindex="2" required aria-required="true" /> #}
                                                        <label for="newNombre">Nombre</label>
                                                         {{form_widget(form.nombre, {'attr':{'class':'form-control', "id":"newNombre", "name":"newNombre", "autocomplete":"family-name", 'placeholder':'Nombre'}})}}
                                                        {# <input type="text" placeholder="{{productos.nombre}}" class="form-control" name="newNombre" id="producto_nombre"> #}
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="newImagen">Imagen</label>
                                                        {{form_widget(form.imagen, {'attr':{'class':'form-control', "id":"newImagen", "name":"newImagen", "autocomplete":"family-name", 'placeholder':'Imagen'}})}}
                                                        {# <input type="text" placeholder="{{productos.imagen}}" class="form-control" name="newImagen" id="newImagen"> #}
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="newDescripcion">Descripción</label>
                                                        {{form_widget(form.descripcion, {'attr':{'class':'form-control', "id":"newDescripcion", "name":"newDescripcion", "autocomplete":"family-name", 'placeholder':'Descripción'}})}}
                                                        {# <input type="text" placeholder="{{productos.descripcion}}" class="form-control" name="newDescripcion" id="newDescripcion"> #}
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <label for="newPrecio">Precio</label>
                                                        {{form_widget(form.precio, {'attr':{'class':'form-control', "id":"newPrecio", "name":"newPrecio", "autocomplete":"family-name", 'placeholder':'Precio'}})}}
                                                        {# <input type="text" placeholder="{{productos.precio}}" class="form-control" name="newPrecio" id="newPrecio"> #}
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="newStock">Unidades en stock</label>
                                                        {{form_widget(form.unidades_stock, {'attr':{'class':'form-control', "id":"newStock", "name":"newStock", "autocomplete":"family-name", 'placeholder':'Unidades en stock'}})}}
                                                        {# <input type="text" placeholder="{{productos.unidadesStock}}" class="form-control" id="newStock" name="newStock"> #}
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="newCategoria">Categoría</label>
                                                        {{form_widget(form.categoria, {'attr':{'class':'form-control', "id":"newCategoria", "name":"newCategoria", "autocomplete":"family-name", 'placeholder':'Categoría'}})}}
                                                        {# <select name="newCategoria" id="newCategoria" class="form-control">
                                                            <option selected>{{productos.categoria}}</option>
                                                            <option>India</option>
                                                            <option>Usa</option>
                                                            <option>Canada</option>
                                                            <option>Thailand</option>
                                                        </select> #}
                                                    </div>
                                                    {# <button class="btn">{{ button_label|default('Save') }}</button> #}
                                                    {# {{ include('producto/_form.html.twig', {'button_label': 'Update'}) }} #}
                                                    {# <button class="btn btn-success" type="submit">Update Profile</button> #}
                                                    {{form_widget(form.send, {'attr':{'class':'btn bot', 'placeholder':'Enviar',  'type':'submit'}})}}
                                                    {{form_end(form)}}
                                            </div>
                                        </div>
                                    </div>
{% endfor %}

                                        {% endblock %} 