{% extends "adminPage/layout.html.twig" %}
{% block head %}
        
        {# <script>window.jQuery || document.write('<script src="../src/js/vendor/jquery-3.3.1.min.js"><\/script>')</script> #}
        <link rel="stylesheet" href="/plugins/chartist/dist/chartist.min.css">
        <link rel="stylesheet" href="/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/plugins/flot-charts/jquery.flot.js"></script>
        <script src="/plugins/flot-charts/curvedLines.js"></script>
        <script src="/plugins/chartist/dist/chartist.min.js"></script>
        <script src="/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script src="/js/js-admin/tables.js"></script>
        <script src="/js/js-admin/datatables.js"></script>
        <script src="/js/js-admin/widget-data.js"></script>
        <script src="/js/js-admin/widget-statistic.js"></script>
{% endblock %}
{% block contenido %}         
                                     <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header d-block">
                                        <h3>Zero Configuration</h3>
                                    </div>
                                        <div class="table-responsive">
                                            <table id="simpletable"
                                                   class="table table-striped table-bordered nowrap">
                                                <thead>
                                                <tr>
                                                    <th>Referencia pedido</th>
                                                    <th>Id_cliente</th>
                                                    <th>Nombre_cliente</th>
                                                    <th>Teléfono</th>
                                                    <th>Dirección</th>
                                                    <th>Provincia</th>
                                                    <th>Fecha</th>
                                                    
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                    {% for pedido in pedidos %}
                                                    <td><a href="{{ path('detallepedido', {'id': pedido.id, 'name':'iduser'}) }}">{{ pedido.id }}</a></td>
                                                    <td>{{ pedido.nombreCliente }}</td>
                                                    <td>{{ pedido.telefono }}</td>
                                                    <td>{{ pedido.direccion }}</td>
                                                    <td>{{ pedido.provincia }}</td>
                                                    <td>{{ pedido.fechaPedido ? pedido.fechaPedido|date('Y-m-d H:i:s') : '' }}</td>
                                                    <td>
                                                        <div class="table-actions">
                                                            <a href="#"><i class="ik ik-eye"></i></a>
                                                            <a href="#"><i class="ik ik-edit-2"></i></a>
                                                            <a href="#"><i class="ik ik-trash-2"></i></a>
                                                        </div>
                                                    </td>
                                                    </tr>
                                                    {% else %}
            <tr>
                <td colspan="7">No se han realizado pedidos</td>
            </tr>
                                                   {% endfor %} 
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                
                        {% endblock %} 