<!DOCTYPE html>

<title>Pedidos index</title>

{% block body %}
    <h1>Pedidos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre_cliente</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Provincia</th>
                <th>Fecha_pedido</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido.id }}</td>
                <td>{{ pedido.nombreCliente }}</td>
                <td>{{ pedido.telefono }}</td>
                <td>{{ pedido.direccion }}</td>
                <td>{{ pedido.provincia }}</td>
                <td>{{ pedido.fechaPedido ? pedido.fechaPedido|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('pedidos_show', {'id': pedido.id}) }}">show</a>
                    <a href="{{ path('pedidos_edit', {'id': pedido.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pedidos_new') }}">Create new</a>
{% endblock %}
